@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}


@font-face {
  font-family: 'Nippo';
  src: url('/fonts/Nippo-Light.woff2') format('woff2'),
      url('/fonts/Nippo-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nippo';
  src: url('/fonts/Nippo-Bold.woff2') format('woff2'),
      url('/fonts/Nippo-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nippo';
  src: url('/fonts/Nippo-Medium.woff2') format('woff2'),
      url('/fonts/Nippo-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nippo';
  src: url('/fonts/Nippo-Extralight.woff2') format('woff2'),
      url('/fonts/Nippo-Extralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nippo';
  src: url('/fonts/Nippo-Regular.woff2') format('woff2'),
      url('/fonts/Nippo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.is-nippo{
  font-family: 'Nippo', sans-serif;
}